@import "../abstract/_variables.scss";

html {
    padding: 0;
    margin: 0;

    @media screen and (max-width: 500px){
        font-size: 10px;
    }
}

body {
    background-color: $background;
    padding: 0;
    margin: 0;
}