@import "../abstract/_variables.scss";

html {
    padding: 0;
    margin: 0;

    @media screen and (max-width: 600px){
        font-size: 10px;
    }
}

body {
    background: radial-gradient(circle, $light-background, $background);
    padding: 0;
    margin: 0;
}

.none {
    display: none !important;
}