/* colors */
$background: #444059;
$light-background: #716B94;
$background-text: #FFFFFF;
$background-text-inactive: #C4C4C4;

$accent: #EE7203;
$light-accent: #FF9637;
$inactive-accent: #D97B26;

$foreground-text: #000000;
$foreground-text-inactive: #606060;