@import "../abstract/_variables.scss";
@import "../abstract/_fonts.scss";

.activity {
    margin: 20px;
    border-radius: 15px;

    background-color: $background-text;

    display: flex;

    align-items: flex-start;

    filter: drop-shadow(0 0 10px #00000099);

    .icon {
        margin: 7px;
        width: 6rem;

        circle {
            fill: $accent;
        }

        text {
            font-family: "Nova Square";
            font-size: 50px;
            
            fill: $background-text;
        }
    }

    .information {
        width: 85%;

        .title {
            margin: 10px;

            font-family: "Nova Square";
            font-size: 2rem;

            color: $foreground-text;
        }

        .deadline {
            margin: 10px;

            font-family: "Nova Square";
            font-size: 2rem;

            color: $foreground-text-inactive;
        }
    }
}