@import "../abstract/_variables.scss";
@import "../abstract/_fonts.scss";

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .day-schedule {

        background-color: $light-background;
        width: 90%;
        height: 90%;

        filter: drop-shadow(0 0 10px #00000033);

        border-radius: 10px;

        display: flex;
        align-items: center;
        flex-direction: column;

        .date {
            font-family: "Nova Square";
            font-size: 3rem;

            color: $background-text;

            margin: 0;
            margin-top: 12px;
        }

        .hours {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            .hour {
                background-color: $background-text-inactive;
                width: 90%;
                border-radius: 10px;

                display: flex;

                margin: 3px;

                .number {
                    width: 3rem;
                    height: 3rem;

                    background-color: $background-text;
                    border-radius: 5px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 2rem;
                    font-family: "Nova Square";
                    font-weight: bold;
                    color: $foreground-text;

                    margin: 10px;
                }

                .text {
                    font-family: "Nova Square";
                    font-size: 1.3rem;

                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    * {
                        margin: 1px;
                    }
                }

                .extra-info {
                    width: 3rem;
                    height: 3rem;

                    border-radius: 5px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 1.5rem;
                    font-family: "Nova Square";
                    font-weight: bold;
                    color: $background-text;

                    margin: 10px;

                    margin-left: auto;
                }
                
                .extra-info.homework {
                    background-color: $accent;
                }

                .extra-info.choice {
                    background-color: $background;
                }
            }
            .hour:hover {
                background-color: $background-text;

                .number {
                    background-color: $background-text-inactive;
                }
            }
        }
    }
}