@import "../abstract/_variables.scss";
@import "../abstract/_fonts.scss";

.header {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: $light-background;

    // overflow: scroll;

    .logo {
        height: 90px;
        .logo-circle {
            fill: $accent;
        }

        .logo-text {
            font-family: "Nova Square";
            font-size: 45px;
            fill: $background-text;
        }
    }

    a:link { text-decoration: none; }

    a:visited { text-decoration: none; }

    a:hover { text-decoration: none; }

    a:active { text-decoration: none; }

    .page-link {
        font-family: "Nova Square";
        font-size: 2rem;
        color: $background-text-inactive;
        margin: 5px;
    }

    .page-link:hover {
        color: $background-text;
    }

    .page-link.active {
        color: $background-text;
    }
}