@import "../abstract/_variables.scss";
@import "../abstract/_fonts.scss";

.header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: $light-background;

    .logo {
        height: 70px;
        .logo-circle {
            fill: $accent;
        }

        .logo-text {
            font-family: "Nova Square";
            font-size: 50px;
            fill: $background-text;
        }
    }

    .page-link {
        font-family: "Nova Square";
        font-size: 24px;
        color: $background-text-inactive;
        margin: 5px;
    }

    .page-link:hover {
        color: $background-text;
    }

    .page-link.active {
        color: $background-text;
    }
}