@import "../abstract/_variables.scss";
@import "../abstract/_fonts.scss";

.subheader {
    background-color: $background-text;
    height: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    .vak {
        font-family: "Nova Square";
        font-size: 45px;
        color: $foreground-text;
        margin: 10px;
    }

    .menu {
        font-family: "Nova Square";
        font-size: 30px;
        color: $foreground-text-inactive;

        width: fit-content;
        margin: 5px;
    }

    .menu.active {
        text-decoration: underline;
    }
}