@import "../abstract/_variables.scss";

html, body {
    height: 100%;
}

.top {
    text-align: center;
    .maand {
        font-family: "Nova Square";
        color: $background-text;
        font-size: 5rem;

        margin: 0;
        padding: 0;

        margin-top: 15px;
    }

    .pijl {
        color: $accent;
        text-decoration: none;
    }
}

.agenda {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    height: 66%;
    
    margin: 15px;

    .dag {
        width: 13.5%;
        height: 19%;

        background-color: $accent;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: "Nova Square";
        font-size: 3em;
        color: $background-text;
        user-select: none;
        font-weight: bold;
    }

    .dag.andere-maand {
        background-color: $inactive-accent;
    }

    .dag:hover {
        background-color: $light-accent;
    }
}