@import "../abstract/_variables.scss";
@import "../abstract/_fonts.scss";

.main {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    fill: $accent;
    width: 66%;

    .its {
        fill: $background-text;
        font-family: "Nova Square";
        font-size: 20px;
        user-select: none;
    }

    circle:hover {
        fill: $light-accent;
    }

    .arc {
        fill: none;
        stroke: $accent;
        stroke-width: 8px;
    }

    .arc:hover {
        stroke: $light-accent;
    }
}