/* BASE */
/* colors */
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
html {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

body {
  background: radial-gradient(circle, #716B94, #444059);
  padding: 0;
  margin: 0;
}

.none {
  display: none !important;
}

/* PAGES */
/* colors */
.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  fill: #EE7203;
  width: 66%;
}

.menu .its {
  fill: #FFFFFF;
  font-family: "Nova Square";
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu circle:hover {
  fill: #FF9637;
}

.menu .arc {
  fill: none;
  stroke: #EE7203;
  stroke-width: 8px;
}

.menu .arc:hover {
  stroke: #FF9637;
}

/* colors */
html, body {
  height: 100%;
}

.top {
  text-align: center;
}

.top .maand {
  font-family: "Nova Square";
  color: #FFFFFF;
  font-size: 5rem;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.top .pijl {
  color: #EE7203;
  text-decoration: none;
}

.agenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 66%;
  margin: 15px;
}

.agenda .dag {
  width: 13.5%;
  height: 19%;
  background-color: #EE7203;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nova Square";
  font-size: 3em;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
}

.agenda .dag.andere-maand {
  background-color: #D97B26;
}

.agenda .dag:hover {
  background-color: #FF9637;
}

/* COMPONENTS */
/* colors */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  background-color: #716B94;
}

.header .logo {
  height: 90px;
}

.header .logo .logo-circle {
  fill: #EE7203;
}

.header .logo .logo-text {
  font-family: "Nova Square";
  font-size: 45px;
  fill: #FFFFFF;
}

.header a:link {
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
}

.header a:active {
  text-decoration: none;
}

.header .page-link {
  font-family: "Nova Square";
  font-size: 2rem;
  color: #C4C4C4;
  margin: 5px;
}

.header .page-link:hover {
  color: #FFFFFF;
}

.header .page-link.active {
  color: #FFFFFF;
}

/* colors */
.subheader {
  background-color: #FFFFFF;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.subheader .vak {
  font-family: "Nova Square";
  font-size: 45px;
  color: #000000;
  margin: 10px;
}

.subheader .menu {
  font-family: "Nova Square";
  font-size: 30px;
  color: #606060;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
}

.subheader .menu.active {
  text-decoration: underline;
}

/* colors */
.activity {
  margin: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-filter: drop-shadow(0 0 10px #00000099);
          filter: drop-shadow(0 0 10px #00000099);
}

.activity .icon {
  margin: 7px;
  width: 100px;
}

.activity .icon circle {
  fill: #EE7203;
}

.activity .icon text {
  font-family: "Nova Square";
  font-size: 50px;
  fill: #FFFFFF;
}

.activity .information .title {
  margin: 10px;
  font-family: "Nova Square";
  font-size: 28px;
  color: #000000;
}

.activity .information .deadline {
  margin: 10px;
  font-family: "Nova Square";
  font-size: 28px;
  color: #606060;
}

/* colors */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .day-schedule {
  background-color: #716B94;
  width: 90%;
  height: 90%;
  -webkit-filter: drop-shadow(0 0 10px #00000033);
          filter: drop-shadow(0 0 10px #00000033);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .day-schedule .date {
  font-family: "Nova Square";
  font-size: 48px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 12px;
}

.overlay .day-schedule .hours {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .day-schedule .hours .hour {
  background-color: #C4C4C4;
  width: 90%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
}

.overlay .day-schedule .hours .hour .number {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-family: "Nova Square";
  font-weight: bold;
  color: #000000;
  margin: 10px;
}

.overlay .day-schedule .hours .hour .text {
  font-family: "Nova Square";
  font-size: 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .day-schedule .hours .hour .text * {
  margin: 1px;
}

.overlay .day-schedule .hours .hour .extra-info {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Nova Square";
  font-weight: bold;
  color: #FFFFFF;
  margin: 10px;
  margin-left: auto;
}

.overlay .day-schedule .hours .hour .extra-info.homework {
  background-color: #EE7203;
}

.overlay .day-schedule .hours .hour .extra-info.choice {
  background-color: #444059;
}

.overlay .day-schedule .hours .hour:hover {
  background-color: #FFFFFF;
}

.overlay .day-schedule .hours .hour:hover .number {
  background-color: #C4C4C4;
}
/*# sourceMappingURL=style.css.map */